<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container">
    <div class="shell"></div>
    <div class="cup one"></div>
    <div class="cup two"></div>
    <div class="cup three"></div>
  </div>
  <div class="container">
    <button class="shuffle btn btn-success">Go!</button>
  </div>


</body>
</html>
